version: '3.9'
services:
  services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    image: tonysoprano228/kittygram_backend:latest
    env_file: .env
    volumes:
      - static:/static/
      - media:/app/media/
  frontend:
    env_file: .env
    image: tonysoprano228/kittygram_frontend:latest
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
  gateway:
    image: tonysoprano228/kittygram_gateway:latest
    env_file: .env
    ports:
      - 9000:80
    volumes:
      - static:/static
      - media:/app/media/

volumes:
  static:
  media:
  pg_data:
