version: '3'
services:
  
  postgres:
    image: postgres:13.10
    container_name: postgres
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    
  backend:
    image: tonysoprano228/kittygram_backend:latest
    depends_on:
      - postgres
    env_file: .env
    volumes:
      - static:/backend_static
      - media:/app/media
   
    
  frontend:
    env_file: .env
    image: tonysoprano228/kittygram_frontend:latest 
    depends_on:
      - backend
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
    

  gateway:
    image: tonysoprano228/kittygram_gateway:latest
    depends_on:
      - backend
    env_file: .env
    ports:
      - 9000:80
    volumes:
      - static:/static
      - media:/app/media
    

volumes:
  static:
  media:
  pg_data:
